doctype html
html
  head
    title #{post.title}
  body
    include ../common/header
    h1 #{post.title}
    p Thể loại:
      a(href=`categories/category/${post.category.id}`) #{post.category.name}
    p
      | Tác giả: #{post.author.name}
      | - 
      | Ngày đăng: #{new Date(post.createdAt).toLocaleString('vi-VN', { hour: '2-digit', minute: '2-digit', day: '2-digit', month: '2-digit', year: 'numeric' })}
    p
      i Số lượt xem: #{post.view}
    div.content !{post.content}
    if user && user.is_admin
      a(href=`/posts/edit/${post.id}`) Chỉnh sửa
      form(action=`/posts/delete/${post.id}` method="POST" onsubmit="return confirmDelete()")
        button(type="submit") Xóa
    p
    a(href="/posts") Quay lại danh sách bài viết
    h2 Bình luận
    if post.comments.length
      ul
        each comment in post.comments
          li
            p
              | #{comment.author.name}: #{comment.content}
              if user && (user.id === comment.author_id || user.is_admin)
                form(action=`/comments/delete/${comment.id}` method="POST" onsubmit="return confirmDeleteComment()")
                  button(type="submit") Xóa
    else
      p Chưa có bình luận nào.
    if user
      h3 Thêm bình luận
      form(action="/comments/create" method="POST")
        input(type="hidden" name="post_id" value=post.id)
        div
          textarea(name="content" required)
        div
          button(type="submit") Gửi
    else
      p Bạn cần 
        a(href="/auth/login") đăng nhập
        |  để bình luận.
    script.
      function confirmDelete() {
        return window.confirm('Bạn có chắc chắn muốn xóa bài viết này không?');
      }
      function confirmDeleteComment() {
        return window.confirm('Bạn có chắc chắn muốn xóa bình luận này không?');
      }
